.side{
    display: flex;
    justify-content: space-around;
    padding: 5px;
    img:hover {
        transform: scale(1.1);
        transition: transform 0.3s;
    }   
}

.b{
    height:40px;
    width: 85px;
    background-color: black;
    border-radius: 90%;
    display: inline-block
}
.input{
   color: black;
}
.overimage{
    color: brown;
    position: absolute;
    left: 550px;
    top: 2110px;
    z-index: 1;
}
.grid{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    img:hover {
        transform: scale(1.1);
        transition: transform 0.3s;}
}
.grid1{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    img:hover {
        transform: scale(1.1);
        transition: transform 0.3s;}
}
.name{
    text-decoration: underline;
    color: #c2b280;
    display: flex;
    justify-content: space-evenly;
}
.name1{
    text-decoration: underline;
    color: #c2b280;
    display: flex;
    justify-content: space-evenly;
}
.topbg{
    position: relative;bottom: 294px;right: 120px;
    z-index: -1;
}
.login{
    color: white;
    position: relative;top: 250px;left: 550px;
    
}
.my-box{
    position: relative;left: 500px;bottom: 80px;
    width: 500px;
    height: 350px;
    background-color: #c2b28096;
    border: 2px solid darkred;
    padding: 20px;
    margin: 30px;
    box-sizing: border-box;
    z-index: -1;
    border-radius: 10px;
    background-position: center;filter: blur(px);
}
.my-box1{
    position: relative;left: 500px;bottom: 80px;
    width: 600px;
    height: 350px;
    background-color: #352208b7;
    border: 2px solid darkred;
    padding: 20px;
    margin: 30px;
    box-sizing: border-box;
    z-index: -1;
    border-radius: 10px;
}